 /*https://coolors.co/palette/10451d-155d27-1a7431-208b3a-25a244-2dc653-4ad66d-6ede8a-92e6a7-b7efc5*/
  body {
    font-family: Arial, sans-serif;
    background-color: #10451D;
    height: 70vh;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    display: flex;
    h3{font-family: cursive;}
}

.container {
    background-color: #208B3A;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px #25A244(0,0,0,0.2);
    width: 80%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.calculator {
    background-color: #10451D;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
}

.input-container {
    background-color: #B7EFC5;
    width: 45%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px #4AD66D(0,0,0,0.1);
    align-items: center;
}

.output-container {
    background-color: #2DC653;
    width: 45%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px #10451D(0,0,0,0.1);
    align-items: center;
}

.group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;  /*+/-*/
}

.button-group {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

input, button {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #92E6A7;
    border-radius: 5px;
}

button {
    width: 93%;
    background: #155D27;
    color: #B7EFC5;
    cursor: pointer;
}

input {
    width: 90%;
    padding: 8px;
}

.result-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}